USE [master]
GO
/****** Object:  Database [Hotel]    Script Date: 2019/5/27 22:43:34 ******/
CREATE DATABASE [Hotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel', FILENAME = N'D:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Hotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Hotel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel]
GO
/****** Object:  Table [dbo].[Daymoney]    Script Date: 2019/5/27 22:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Daymoney](
	[outdate] [nchar](20) NULL,
	[allmoney] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Daypc]    Script Date: 2019/5/27 22:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Daypc](
	[indata] [nchar](20) NULL,
	[peoplecount] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guestroom]    Script Date: 2019/5/27 22:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guestroom](
	[roomnumber] [nchar](10) NOT NULL,
	[area] [nchar](10) NOT NULL,
	[type] [nchar](10) NOT NULL,
	[rent] [nchar](10) NOT NULL,
	[lease] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Guestroom] PRIMARY KEY CLUSTERED 
(
	[roomnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoteluser]    Script Date: 2019/5/27 22:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoteluser](
	[username] [nchar](10) NOT NULL,
	[password] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Hoteluser] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keepmessage]    Script Date: 2019/5/27 22:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keepmessage](
	[roomnumber] [nchar](10) NOT NULL,
	[name] [nchar](10) NOT NULL,
	[id] [nchar](20) NOT NULL,
	[sex] [nchar](10) NOT NULL,
	[age] [nchar](10) NOT NULL,
	[phone] [nchar](20) NOT NULL,
	[indate] [nchar](20) NOT NULL,
	[intime] [nchar](20) NOT NULL,
	[outdate] [nchar](20) NULL,
	[outtime] [nchar](20) NULL,
	[allrent] [nchar](10) NULL,
	[randno] [nchar](20) NOT NULL,
	[together] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passenger]    Script Date: 2019/5/27 22:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passenger](
	[roomnumber] [nchar](10) NOT NULL,
	[name] [nchar](10) NOT NULL,
	[id] [nchar](20) NOT NULL,
	[sex] [nchar](10) NOT NULL,
	[age] [nchar](10) NOT NULL,
	[phone] [nchar](20) NOT NULL,
	[randno] [nchar](20) NOT NULL,
	[deposit] [nchar](10) NULL,
 CONSTRAINT [PK_Passenger] PRIMARY KEY CLUSTERED 
(
	[randno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
